body{
    background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_1280.jpg);
    background-size: cover;
    background-position: center;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
}
.location{
    font-family: Arial, Helvetica, sans-serif;
}